@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@574&display=swap");

$body-color: #181717;
$body-text-color: #fff;
$complement-font-color: #c79771;
$dancing-font: "Dancing Script", cursive;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-color;
  color: $body-text-color;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

#content {
  max-width: 90%;
  margin: auto;

  header {
    margin-top: 10px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-family: $dancing-font;
      font-size: 2rem;
      color: $complement-font-color;
    }

    ul {
      li {
        display: inline-block;
        list-style: none;
        margin-left: 40px;

        a {
          color: #aaa9a9;
          padding-bottom: 5px;

          &[active],
          &:hover {
            color: #fff;
            border-bottom: 1.5px solid $complement-font-color;
          }
        }
      }
    }
  }
}
